@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/CSS/Homepage.css")" rel="stylesheet" type="text/css" />
}

<script>

    function slideDownAgain(){
        $("#cover-div").stop().fadeIn(1500)
    }

    function stickyInit($) {

        function check_sticky() {
            if (clicks<1) {
                slideDownAgain();
            }

        }

        function decreaseClicks() {
            clicks = 0
        }

        //function decreaseClicks(clicks) {
        //    for (var i; i = -1;);
        //}

        window.setInterval(check_sticky, 3000);
        window.setInterval(decreaseClicks, 6000);
    }

    jQuery(document).ready(function ($) {

        stickyInit($);

    });

    var clicks = 0;

    $(document).ready(function () {

        $(".carousel-control, .carousel-indicators").click(function () {
            clicks++;
            $("#cover-div").fadeOut(1000);
        });
    })
    

</script>



    <div class="row">
        <div class="bg-info col-lg-10 col-lg-offset-1">
            <h3> About us </h3>
            <h4>
                We are a daycare based in Cowies Hill. We are Open Monday -  Friday from: 07:00 - 17:00.<br />
                We are focused on providing the best attention and care, whilst helping your children to grow in a fun and loving environment!<br />
                We accept children from 3 months old up until 2 years and are also open during school holidays.<br />
                Contact us for further details or to arrange a visit go to our Contact Us form.<br />
            </h4>

        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/Gallery-pic-2.png" alt="Feeding Child"  />

                    <div class="caption">
                        <h3>Growing Babies</h3>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-1 col-lg-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/Gallery-pic-13.png" alt="galery pic2" />

                    <div class="caption">
                        <h3>Growing Babies</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 col-lg-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/Gallery-pic-10.png" alt="galery pic2" />

                    <div class="caption">
                        <h3>Growing Babies</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-lg-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/Gallery-pic-5.png" alt="galery pic2" />

                    <div class="caption">
                        <h3>Growing Babies</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-lg-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/Gallery-pic-20.png" alt="galery pic2" />

                    <div class="caption">
                        <h3>Growing Babies</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-lg-4">
                <div class="thumbnail">
                    <img src="~/Content/Images/Gallery-pic-21.png" alt="galery pic2" />

                    <div class="caption">
                        <h3>Growing Babies</h3>
                    </div>
                </div>
            </div>


          </div>

</div>
